body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #86a8e7;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: 1000px;
}

.top {
  margin: 40px 0px;
}

.bottom {
}

input {
  font-size: 20px;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 16px;
}

button {
  background-color: #007096;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  margin: 4px;
  cursor: pointer;
  padding: 8px 16px;
}

.submit-button {
  background-color: #009620;
  display: block;
  margin-top: 10px;
}

.delete-button {
  background-color: #961b00;
}

h1 {
  color: #012f3c;
  margin: 16px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}

li {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  justify-content: center;
  align-items: center;
  margin: 3px;
  font-size: 20px;
  padding: 4px;
  border: 1px solid rgb(64, 64, 64);
  border-radius: 4px;
}

.user-list {
  margin: 10px 10px 10px -30px;
}

@media (max-width: 650px) {
  h2 {
    font-size: 13px;
  }
  button {
    font-size: 16px;
  }
}
